@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

*::-webkit-scrollbar {
  display: none;
}

.flex-grow {
  -webkit-flex: 1 0 0;
  flex: 1 0 0;
}

.flex-shrink {
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
}
.flex {
  display: -webkit-flex !important;
  display: flex !important;
}

button {
  font-family: Helvetica;
}

.claim-button {
  width: 100%;
  cursor: pointer;
  font-size: 1em;
  border-radius: 12px;
  border: none;
  background-color: #1300ff;
  color: white;
  font-weight: bold;
  padding: .5em 1em;
}

.secondary-button {
  width: 100%;
  cursor: pointer;
  font-size: 1em;
  border-radius: 12px;
  border: none;
  background-color: #ccc;
  color: black;
  font-weight: bold;
  padding: .5em 1em;
}

.create-button {
  width: 100%;
  cursor: pointer;
  font-size: 1em;
  border-radius: 12px;
  border: none;
  background-color: white;
  color: #1300ff;
  font-weight: bold;
  padding: .25em .5em;
}

.claim-button:disabled {
  opacity: 50%;
  cursor: not-allowed;
}

.text-input {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  box-sizing: border-box;
  border: 0;
  border-radius: 5px;
  border: 1px solid #CCC;
  font-size: 1em;
  background-color: #fff;
  padding: 1em;
  width: 100%;
  margin-top: 1em;
}

h1, h2 {
  color: #1300ff !important;
  font-size: 1.25em;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

a { text-decoration: underline; }